<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrisscrossDesigner</title>
    
    <!-- We need to include a link to the SVG library!--> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js"></script>

    <!-- Include Panzoom.js -->
    <script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>

    <!-- Includ Fabric.js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/fabric"></script> -->

    <!-- Include SVG.draggable.js -->
    <script src="https://cdn.jsdelivr.net/gh/svgdotjs/svg.draggable.js/dist/svg.draggable.min.js"></script>

    <!-- <script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script> -->
    

</head>

<body>
    <div class="heading">
        <h1>Crisscross Designer</h1>
    </div>
    

    <div class="main-window">
        <div class="left-panel">
            <h1>Menu</h1>
            <div class="palette">
                <h2>Palette</h2>
                <ul class="draw-list">
                    <li>Slat</li>
                    <li>Cargo</li>
                    <li>Handle</li>
                </ul>
                <form class="edit-mode-selector">
                    <input type="radio" id="draw" name="editMode" value=0>
                    <label for="draw">Draw Mode</label><br>
                    <input type="radio" id="erase" name="editMode" value=1>
                    <label for="erase">Erase Mode</label><br>
                    <input type="radio" id="select" name="editMode" value=2>
                    <label for="select">Select Mode</label>
                </form> 
            </div>
            <div class="layers">
                <h2>Layer Manager</h2>
                <div id="layer-manager">
                    <div id="layer-list"></div>
                    <button id="add-layer">Add Layer</button>
                </div>
            </div>
            <div class="settings">
                <h2>Settings</h2>
                <div class="graph-settings">
                    <form class="graph-mode-selector">
                        <input type="radio" id="gridStyle" name="graphMode" value=1 checked=true>
                        <label for="gridStyle">Grid</label><br>
                        <input type="radio" id="dotStyle" name="graphMode" value=2>
                        <label for="dotsStyle">Dots</label><br>
                        <input type="radio" id="noStyle" name="graphMode" value=0>
                        <label for="noStyle">None</label>
                    </form> 
                    <ul class="configure-graph">
                        <li>Minor Gridsize</li>
                        <li>Major Gridsize</li>
                        <li>Weight</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="right-panel" id="right-panel">
            <div id="svg-container"></div>   

            <!--  <canvas id="main-canvas" width="500" height="800">-->

            </canvas>
            
        </div>
        
    </div>

    
    <!--<script type="module" src="{{url_for('static', filename='scripts/fabricscript.js')}}"></script> -->
    <script type="module" src="{{url_for('static', filename='scripts/svgscript.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='scripts/layermanager.js')}}"></script>
</body>


</html>